<%= form_for reminder do |f| %>
    <% if reminder.errors.any?%>
        <%= render "common/error_message", object: reminder_type %>
    <% end%>

    <div class="mb-3">
        <label for="name", class="form-label">Title</label>
        <%= f.text_field :title, class: "form-control",
        placeholder: "Enter name", required: true %>
    </div>

    
    <div class="mb-3">
        <label for="name", class="form-label">content</label>
        <%= f.text_field :content, class: "form-control",
        placeholder: "Enter Content", required: true %>
    </div>    

    
    <div class="mb-3">
        <label for="name", class="form-label">Expire At</label>
        <%= f.datetime_field :expire_at, class: "form-control",
        placeholder: "Enter Expire Date", required: true %>
    </div>

    
    <div class="mb-3">
        <label for="name", class="form-label">Status</label>
        <%= f.text_field :title, class: "form-control",
        placeholder: "Enter", required: true %>
    </div>


    <div class="mb-3">
        <%= f.submit "Submit", class: "form-control" %>
    </div>
<% end %>