<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><em >Reminder</em><b></b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name=='reminders'%>" href="<%= reminders_path %>">Reminders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if controller_name=='reminder_types'%>" href="<%= reminder_types_path %>">Reminder Type</a>
            </li>
        </ul>
      <%= form_with(:method=>"get",url: "/search", :class=>"d-flex") do |form|%>
        <%= form.text_field :title,:class=>"form-control me-2",:placeholder=>"Search title" %>
        <%= form.submit "Search",:class=>"btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</nav>